<!-- Awards Start -->
<div class="container-xxl my-5 py-6" id="award">
    <div class="container">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-12">
                <h1 class="display-5 mb-0">Awards</h1>
            </div>
        </div>
        <div class="row g-4">
            {% for award in awards %}
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="award-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                    <div class="bg-icon flex-shrink-0 mb-3">
                        <i class="fa fa-laptop-code fa-2x text-dark"></i>
                    </div>
                    <div class="ms-sm-4">
                        <h4 class="mb-3">{{award.title}}</h4>
                        <h6 class="mb-3">{{award.issuer}}, <span class="text-primary">{{award.issue_date|date:"j F Y"}}</span></h6>
                        <span>{{award.description}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Awards End -->