<!-- Experience Start -->
<div class="container-xxl py-6 pb-5" id="experience">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                <h1 class="display-5 mb-5">Experiences</h1>
                <!-- <ul class="nav nav-pills rounded border border-2 border-primary mb-5">
                    <li class="nav-item w-50">
                        <button class="nav-link w-100 py-3 fs-5 active" data-bs-toggle="pill" href="#tab-1">Experience</button>
                    </li>
                    <li class="nav-item w-50">
                        <button class="nav-link w-100 py-3 fs-5" data-bs-toggle="pill" href="#tab-2">Education</button>
                    </li>
                </ul> -->
                <div class="tab-content">
                    <!-- <div id="tab-1" class="tab-pane fade show p-0 active"> -->
                        <div class="row gy-5 gx-4">
                            <div class="col-sm-6">
                                <h5>UI Designer</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2000 - 2045</p>
                                <h6 class="mb-0">eFishery</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Product Designer</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2000 - 2045</p>
                                <h6 class="mb-0">Refactory.id</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Web Designer</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2000 - 2045</p>
                                <h6 class="mb-0">Apex Software Inc</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Apps Designer</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">2000 - 2045</p>
                                <h6 class="mb-0">Apex Software Inc</h6>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Experience End -->