<!-- Experience Start -->
<div class="container-xxl py-6 pb-5" id="experience">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                <h1 class="display-5 mb-5">Experiences</h1>
                <div class="tab-content">
                    <div class="row gy-5 gx-4">
                        {% for experience in experiences %}
                        <div class="col-sm-6">
                            <h5>{{experience.position|capfirst}}</h5>
                            <h6 style="display:inline" class="mb-0">{{experience.company|capfirst}}</h6>
                            {% if experience.company_site %}
                            <a href="{{experience.company_site}}" target="_blank" class="bi-arrow-right"> Company site</a>
                            {% endif %}
                            <p class="text-primary mb-1">{{experience.start_date|date:"F Y"}} - {{experience.end_date|date:"F Y"}} ({{experience.start_date|timesince:experience.end_date}})</p>
                            <hr class="text-primary my-2">
                            <pre>{{experience.description}}</pre>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Experience End -->