.social-media .social-item {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #223dd4;
  position: relative;
  border-radius: 50%;
  font-size: 22px;
  margin: 0 10px;
}

.social-media .social-item:hover {
  background: #a82390;
}
.social-media .social-item > i {
  color: #f799e6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-footer p {
  color: #223dd4;
  font-weight: 600;
}

.text-primary {
  color: #a82390 !important;
  font-weight: 600;
}

.site-footer a.text-primary:hover {
  color: #f799e6 !important;
}
