/* NAVBAR */

/* FOTO PROFILE */
#section-home{
    background-image: url("../../images/name.jpg");
    background-size: contain;
    background-color: #9ca9a2;
}

/* EDU & EXP */
#education{
    border-right: 1px solid #fff;
}

/* PORTFOLIO */
.portfolio.active, .portfolio .active{
    background-color: #bac964 !important;
    color: #000 !important;
    border-radius: 5px;
}

.portfolio:hover{
    border-radius: 5px;
}

.nav-tabs{
    border-bottom: 0px !important;
}

#myTabContent{
    padding: 10px;
    border: 1px solid #bac964;
    border-radius: 10px;

}

/* SKILLS */
#section-skills h2{
    margin-bottom: 50px;
}

/* FOOTER */



@media (max-width:576px){
    /* SKILLS */
    #section-skills h2{
        margin-bottom: 20px;
    }
}

@media (max-width:768px){
    #education{
        border-right: none;
    }
}