#section-home{
    background-image: url("../../images/name.jpg");
    background-size: contain;
    background-color: #9ca9a2;
}

.about-info{
    font-weight: 500;
}

.about-info li span{
    width: calc(100% - 130px);
}

.about-info li span:first-child{
    width: 130px;
    color: #fff;
}

.social-media .social-item {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #333;
    position: relative;
    border-radius: 50%;
    font-size: 22px;
    margin: 0 10px;
}
.social-media .social-item > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.portfolio.active, .portfolio .active{
    background-color: #bac964 !important;
    color: #000 !important;
}

.nav-tabs{
    border-bottom: 0px !important;
}