.limit, .used, .remaining{
    position: fixed;
    bottom: 3%;
    border-radius: 10px;
    border: 1px solid #bac964;
    padding: 5px;
    color: #ffffff;
    background-color: #333333;
    z-index: 200;
}

.used {
    left: 25%;
    transform: translate(-25%, 0);
}

.limit {
    left: 50%;
    transform: translate(-50%, 0);
}

.remaining {
    left: 75%;
    transform: translate(-75%, 0);
}

/* PORTFOLIO */
.portfolio.active, .portfolio .active{
    background-color: #bac964 !important;
    color: #000 !important;
    border-radius: 5px;
}

.portfolio:hover{
    border-radius: 5px;
}

.nav-tabs{
    border-bottom: 0px !important;
}

#myTabContent{
    padding: 10px;
    border: 1px solid #bac964;
    border-radius: 10px;

}

@media (max-width:560px){
    .limit, .used, .remaining {
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 12px;
    }

    .used {
        bottom: 13.5%;
    }

    .limit {
        bottom: 8%;
    }
    
    .remaining {
        bottom: 2%;
    }
}