.rate-limit{
    position: fixed;
    bottom: 0px;
    border-radius: 10px;
    border: 1px solid #bac964;
    padding: 5px;
    color: #ffffff;
    background-color: #333333;
    z-index: 200;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

/* PORTFOLIO */
.portfolio.active, .portfolio .active{
    background-color: #bac964 !important;
    color: #000 !important;
    border-radius: 5px;
}

.portfolio:hover{
    border-radius: 5px;
}

.nav-tabs{
    border-bottom: 0px !important;
}

#myTabContent{
    padding: 10px;
    border: 1px solid #bac964;
    border-radius: 10px;

}