.rate-limit {
  position: fixed;
  bottom: 0px;
  border-radius: 10px;
  border: 1px solid #a82390;
  padding: 5px;
  color: #fdfff7;
  background-color: #223dd4;
  z-index: 200;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

/* PORTFOLIO */
.portfolio.active,
.portfolio .active {
  background-color: #a82390 !important;
  color: #fdfff7 !important;
  border-radius: 5px;
}

.portfolio:hover {
  background-color: #223dd4;
  color: #fdfff7;
  border-radius: 5px;
}

.nav-tabs {
  border-bottom: 0px !important;
}

#myTabContent {
  padding: 10px;
  border: 3px solid #223dd4;
  border-radius: 10px;
}

#pills-tab .active {
  background-color: #223dd4;
}

#pills-tab a:hover {
  color: #fdfff7;
  background-color: #a82390;
}
