.skills {
  margin: 20px 0;
}

.logo {
  background-color: #f799e6;
  border: 2px solid #223dd4;
  height: 100px;
  width: auto;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  transition: transform 1s;
}

.link-skils {
  margin: 10px;
}

.logo:hover {
  transform: scale(1.15);
}

@media (max-width: 576px) {
  .logo {
    padding: 5px;
    margin: 3px 0 8px 0;
    height: 50px;
    width: auto;
  }
  .link-skils {
    margin: 5px;
  }
  .skills {
    margin: 10px 0;
  }
}
