.skills{
    margin-bottom: 50px;
}

.logo{
    background-color: #bac964;
    border: 2px solid #fff;
    height: 100px;
    width: auto;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    transition: transform 1s;
}
.logo:hover{
    transform: scale(1.15);
}