#stats-section {
    padding: 100px 0;
    margin-inline: 100px;
}

.chart{
    /* margin: 1px; */
    /* margin-inline: 1px; */
    padding: 20px;
    height: 400px;
    /* width: 1000px; */
    border: 2px solid #bac964;
    background-color: #333333;
    border-radius: 50px;
}